<br />
<form [formGroup]="addAppointment" (ngSubmit)="AddData()">
  <div class="row mb-4">
    <div class="col">
      <h3>Add Appointment</h3>
    </div>
    <div class="col d-flex flex-row-reverse">
      <button type="submit" class="btn w-25 p-4 btn-primary">
        Add Appointment
      </button>
    </div>
  </div>
  <br />
  <div class="form-group mb-3">
    <label class="form-label">Patient Name</label>
    <input
      type="text"
      class="form-control"
      formControlName="patientName"
      [ngClass]="{
        'is-invalid': submitted && addAppointment.controls.patientName.errors
      }"
      placeholder="Patient Name"
    />
    <p
      *ngIf="
        submitted && addAppointment.controls.patientName.hasError('required')
      "
      class="text-danger"
    >
      Required Patient Name
    </p>
  </div>

  <div class="row mb-4">
    <div class="col">
      <label class="form-label">First name</label>
      <div class="form-outline">
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && addAppointment.controls.ownerName.errors
          }"
          placeholder="Owner Name"
          formControlName="ownerName"
        />
        <p
          *ngIf="
            submitted && addAppointment.controls.ownerName.hasError('required')
          "
          class="text-danger"
        >
          Required Owner Name
        </p>
      </div>
    </div>
    <div class="col">
      <label class="form-label">Last name</label>
      <div class="form-outline">
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && addAppointment.controls.ownerSurname.errors
          }"
          placeholder="Owner Surname"
          formControlName="ownerSurname"
        />
        <p
          *ngIf="
            submitted &&
            addAppointment.controls.ownerSurname.hasError('required')
          "
          class="text-danger"
        >
          Required Owner Surname
        </p>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Animal Type</label>
    <select
      formControlName="animalType"
      class="form-select"
      [ngClass]="{
        'is-invalid': submitted && addAppointment.controls.animalType.errors
      }"
      id="animalType"
      required
    >
      <option>Dog</option>
      <option>Cat</option>
      <option>Rabbit</option>
      <option>Bird</option>
      <option>Reptile</option>
    </select>
    <p
      *ngIf="
        submitted && addAppointment.controls.animalType.hasError('required')
      "
      class="text-danger"
    >
      Required Animal Type
    </p>
  </div>

  <div class="mb-3">
    <label class="form-label">Id Card</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          submitted && addAppointment.controls.ownerIdCardNumber.errors
      }"
      placeholder="Owner Id Card"
      formControlName="ownerIdCardNumber"
    />
    <p
      *ngIf="
        submitted &&
        addAppointment.controls.ownerIdCardNumber.hasError('required')
      "
      class="text-danger"
    >
      Required Id Card
    </p>
  </div>
  <div class="mb-3">
    <label class="form-label">Contact Number</label>
    <input
      type="text"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          submitted && addAppointment.controls.ownerContactNumber.errors
      }"
      placeholder="Contact Number"
      formControlName="ownerContactNumber"
    />
    <p
      *ngIf="
        submitted &&
        addAppointment.controls.ownerContactNumber.hasError('required')
      "
      class="text-danger"
    >
      Required Contact Number
    </p>
    <p
      *ngIf="
        submitted &&
        addAppointment.controls.ownerContactNumber.hasError('minLength')
      "
      class="text-danger"
    >
      The Number has to be 8 digits long
    </p>
    <p
      *ngIf="
        submitted &&
        addAppointment.controls.ownerContactNumber.hasError('pattern')
      "
      class="text-danger"
    >
      Wow there Only Numbers
    </p>
  </div>
  <div class="row mb-4">
    <div class="col">
      <label class="form-label">Appointment Date</label>
      <div class="form-outline">
        <input
          type="date"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && addAppointment.controls.appointmentDate.errors
          }"
          placeholder="Appointment Date"
          formControlName="appointmentDate"
        />
        <p
          *ngIf="
            submitted &&
            addAppointment.controls.appointmentDate.hasError('required')
          "
          class="text-danger"
        >
          Required Appointment Date
        </p>
      </div>
    </div>
    <div class="col">
      <label class="form-label">Appointment Time</label>
      <div class="form-outline">
        <input
          type="time"
          class="form-control"
          placeholder="Appointment Time"
          [ngClass]="{
            'is-invalid':
              submitted && addAppointment.controls.appointmentTime.errors
          }"
          formControlName="appointmentTime"
          required
        />
        <p
          *ngIf="
            submitted &&
            addAppointment.controls.appointmentTime.hasError('required')
          "
          class="text-danger"
        >
          Required Appointment Time
        </p>
      </div>
    </div>
    <div class="col">
      <label class="form-label">Appointment Duration(Mins)</label>
      <div class="form-outline">
        <input
          type="number"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && addAppointment.controls.appointmentDuration.errors
          }"
          placeholder="Appointment Duration"
          formControlName="appointmentDuration"
        />
        <p
          *ngIf="
            submitted &&
            addAppointment.controls.appointmentDuration.hasError('required')
          "
          class="text-danger"
        >
          Required Appointment Duration
        </p>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Reason For Appointment</label>
    <textarea
      rows="4"
      cols="50"
      class="form-control"
      placeholder="Reason For Appointment"
      [ngClass]="{
        'is-invalid':
          submitted && addAppointment.controls.reasonForAppointment.errors
      }"
      formControlName="reasonForAppointment"
    >
Enter Text Here</textarea
    >
    <p
      *ngIf="
        submitted &&
        addAppointment.controls.reasonForAppointment.hasError('required')
      "
      class="text-danger"
    >
      Required Reason for appointment
    </p>
  </div>
  <div class="mb-3">
    <label class="form-label">Vet Notes</label>
    <textarea
      rows="4"
      cols="50"
      class="form-control"
      placeholder="Vet For Appointment"
      formControlName="vetNotes"
    >
Enter Text Here</textarea
    >
  </div>
</form>
