<div class="table-responsive mt-3" *ngIf="appointments?.length">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Patient Name</th>
        <th>Animal Type</th>
        <th>Owner Name</th>
        <th>Owner Surname</th>
        <th>Appointment Date/Time</th>
        <th>Appointment Duration</th>
        <th>View</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of appointments">
        <td>{{ item.appointmentId }}</td>
        <td>{{ item.patientName }}</td>
        <td>{{ item.animalType }}</td>
        <td>{{ item.ownerName }}</td>
        <td>{{ item.ownerSurname }}</td>
        <td>{{ item.appointmentDate }} {{ item.appointmentTime }}</td>
        <td>{{ item.appointmentDuration }}</td>
        <td>
          <a
            href="/appointment"
            [routerLink]="['/detail/', item.appointmentId]"
            class="btn btn-outline-info"
            >View</a
          >
        </td>
        <td>
          <button
            href="/appointment"
            [routerLink]="['/edit/', item.appointmentId]"
            class="btn btn-outline-warning"
          >
            Update
          </button>
        </td>
        <td>
          <a
            href="/appointment"
            (click)="deleteAppointment(item.appointmentId)"
            class="btn btn-outline-danger"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <app-appointment-update></app-appointment-update> -->
</div>
